PORT="enter_your_port_here"
MONGO_URI="your_mongodb_connection_string_here"
NODE_ENV="development_or_production"
CLIENT_URL="http://localhost:3000"
SUPERADMIN_PASSWORD="your_secure_password_here"

# JWT Configuration
JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_ACCESS_EXPIRES_IN="your_jwt_access_expires_in_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_REFRESH_EXPIRES_IN="your_jwt_refresh_expires_in_here"

# Rate Limiting
RATE_LIMIT_WINDOW_MS="your_rate_limit_window_ms_here"
RATE_LIMIT_GLOBAL="your_rate_limit_global_here"
RATE_LIMIT_AUTH="your_rate_limit_auth_here"

# Mailer Configuration (Mailtrap for Testing)
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USERNAME="your-mailtrap-username"
MAIL_PASSWORD="your-mailtrap-password"
MAIL_FROM="no-reply@cravon.com"

# ImageKit Configuration
IMAGE_PUBLIC_KEY="your_imagekit_public_key_here"
IMAGE_PRIVATE_KEY="your_imagekit_private_key_here"
IMAGE_URL_ENDPOINT="your_imagekit_url_endpoint_here"